.hero {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 0 auto;

    background:   
            linear-gradient(
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)
            ),
            url("./../images/hero-image-mobile-1x.jpg") ;

   
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        
        background:
         linear-gradient(
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)
            ), url("./../images/hero-image-mobile-2x.jpg");    
    
    }        
   
    background-size: cover;
    text-align: center;


    &__content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title{
        margin-bottom: 30px;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        max-width: 360px;

        color: $primary-white-color;     

        font-weight: 900;
        font-size: 22px;
        line-height: 1.62;
        
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    &__button {
        margin: auto;
    }

    &__button:focus,
    &__button:hover {
        background-color: $active-btn-color;
    }

}

 @include respond-to(medium) {
    .hero {
           background:   
            linear-gradient(
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)
            ),
            url("./../images/hero-image-tablet-1x.jpg") ;

            background-size:cover;

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                
                background:
                linear-gradient(
                    rgba(47, 48, 58, 0.4), 
                    rgba(47, 48, 58, 0.4)
                    ), url("./../images/hero-image-tablet-2x.jpg");    
            
                }  
            } 

           
 }

 @include respond-to(large) {
    .hero {
        height: 600px;

        background:   
            linear-gradient(
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)
            ),
            url("./../images/hero_image.jpg") ;

            background-size:cover;

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                
                background:
                linear-gradient(
                    rgba(47, 48, 58, 0.4), 
                    rgba(47, 48, 58, 0.4)
                    ), url("./../images/hero-image2x.jpg");    
                            
            } 

        &__title {
            max-width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    } 
 }