.subscription-form {

    &__title {
        @extend %footer-title;
    }

    &__groupField {
        margin-top: 20px;
    }

    &__input {
        // width: 358px;
    
        width: 100%;
        padding: 15px 0 15px 12px;
        margin-right: 12px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);

        color: currentColor;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    }

    &__button {
        margin: auto;
    }

    &__button::after {
        content: "";
        margin-left: 10px;
        width: 24px;
        height: 24px;
        background-image: url("../images/icon_send.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    
    @include restricted-to (large) {
        &__input {
            margin-bottom: 20px;
        }
    }

    @include respond-to (medium ) {
        width: 450px;
        margin: auto;
    }

    @include respond-to (large) {
        width: 578px;

        &__groupField {
            display: flex;
        }

        &__button {
            flex-shrink: 0;
        }
    }

}